h1 {
    font-family: 'Libre Baskerville', serif;
}

body {
    background-color: black;
}

.poster {
    color: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;

}

.motivation-img {
    border: 5px solid white;
    width: 100%;
}

.heading {
    text-align: center;
    text-transform: uppercase;
}

.para {
    text-align: center;
}